.trendTitle {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
}

.trendItem {
  color: gray;

  border-bottom: 1px solid gray;
  .itemTitle {
    font-size: 12px;
  }
  .itemName {
    font-size: 18px;
  }
  .itemPost {
    font-size: 14px;
  }
}
