.layoutContainer {
  width: 100%;
  height: 100%;
}

.header {
  width: calc(100% - 700px);
  height: 60px;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  background-color: gray;
}

.layoutWrap {
  display: flex;
  justify-content: center;

  .layoutLeft {
    width: 300px;
    height: 100vh;

    position: sticky;
    top: 0;

    background-color: beige;
  }

  .content {
    overflow: auto;
    width: calc(100% - 700px);
    height: max(100vh, 1400px);
    padding-top: 70px;
    background-color: aliceblue;
  }

  .layoutRight {
    width: 300px;
    height: 100vh;

    padding: 20px;

    position: sticky;
    top: 0;

    background-color: aquamarine;

    .input {
      width: 100%;
      height: 30px;
    }
  }
}
